<h3>Pending Friendship Requests</h3>
<br/>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.requested_friendships.any? %>
      <tr>
        <% current_user.requested_friendships.each do |request| %>
          <td><%= request.first_name.capitalize %></td>
          <td><%= request.email %></td>
          <td><%= link_to "Accept", accept_invitation_friendship_path(request), method: :post, class: "btn btn-primary" %></td>
          <td><%= link_to "Decline", decline_invitation_friendship_path(request), method: :post, class: "btn btn-primary" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h3>Friends</h3>
<% if current_user.friends.any? %>
  <% current_user.friends.each do |friend| %>
    <li><%= friend.first_name.capitalize + " " + friend.last_name.capitalize %></li>
  <%end %>
<% else %>
    <p>You need to add some friends!</p>
<% end %>
<br>

<h3>All Users</h3>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% unless user == current_user %>
          <% unless user == current_user.friends.include?(user) %>
            <% unless user == current_user.requested_friendships.include?(user)  %>
          <td><%= user.first_name.capitalize %></td>
          <td><%= user.last_name.capitalize %></td>
          <td><%= user.email %></td>
          <td>
            <%= form_for user.inverse_friendships.build, url: friendships_path do |f| %>
            <%= f.hidden_field :friend_id %>
            <%= f.submit "Add Friend", class: "btn btn-primary" %>
            <% end %>
          </td>

            <% end %>
          <% end %>
        <% end %>
       </tr>
    <% end %>
  </tbody>
</table>


