%h2= current_user.name
%h3 Number
- if current_user.mobile_number.present?
  %p= current_user.mobile_number
- else
  %p This user hasn't added a mobile number.

%h3 Email
%p= current_user.email
%br

- if @user == current_user
  = link_to 'Update info', edit_user_path

  %h3 My addresses
  %table
    %tbody
    - current_user.locations.each do |loc|
      %tr
        %th
          %b= loc.location_label
      %tr
        %td= loc.full_address

  %br
  %h3 Add Or Edit Address
  = render partial: "locations/form"
  %br
