%h1 Upcoming events
%br
%table
  %tr
    %th Name
    %th Time
    %th Address 
    %th 
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.start_time
      %td= event.location.address
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Delete', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add an Event', new_event_path

.col-md-6
  .list_headings
    %h3
      Event Invites
    - if @pending_attendances.any?
      - @pending_attendances.each do |invitation|
        .panel.panel-default
          .panel-heading
            %h3 
              = link_to invitation.event.name, invitation.event
          .panel-body
            %p
              = invitation.event.location.address
            %p
              = invitation.event.start_time
        = link_to "Accept", accept_invite_event_attendance_path(invitation.event.id, invitation.id), method: :post, class: "btn btn-primary"
        = link_to "Decline", decline_invite_event_attendance_path(invitation.event.id, invitation.id), method: :post, class: "btn btn-primary"
    - else
      .list_headings
        %h4
          You have no current event invitations.
