= @user_id
- if @pending_attendances.count == 0
  %h2 You have no event invites
- else
  %h2 Event Invites
  %table
    %thead
      %tr
        %th What?
        %th Where?
        %th What time?
        %th With?
        %th
    %tbody
    - @pending_attendances.each do |attendance|
      %tr
        %td= attendance.event.name
        %td= attendance.event.location.address
        %td= attendance.event.start_time
        %td= User.find(attendance.event.creator_id).name
        %td= link_to "Accept", accept_invite_event_attendance_path(attendance.event.id, attendance.id), method: :post, class: "btn btn-primary"
        %td= link_to "Out", decline_invite_event_attendance_path(attendance.event.id, attendance.id), method: :post, class: "btn btn-primary"

- if @events.count == 0
  %h1 No upcoming events
  = link_to 'Add an Event', new_event_path, class: "btn btn-warning"
- else  
  %h2 Upcoming Events
  %table
    %tbody
      %tr
        %th What?
        %th Where?
        %th When?
        %th With?
        %th
        %th
        %th
        - @events.each do |event|
          %tr
            %td= event.name
            %td= Location.find(event.location_id).address
            %td= event.start_time
            %td= User.find(event.creator_id).name
            %td= link_to 'Show', event, class: "btn btn-primary"
            %td= link_to 'Edit', edit_event_path(event), class: "btn btn-primary"
            %td= link_to 'Delete', event, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"

%br
