%h2= @event.name
%p
  %b Date:
  = @event.start_time
  = "Starting in #{distance_of_time_in_words(Time.now, @event.start_time)})"
%p
  %b Address:
  = @event.location.address
%p
  %b City:
  = @event.location.city
%p
  %b Postcode:
  = @event.location.postcode
%p
  %b Travel Mode:
  = @event.attendances.first.transport_mode
%p

:javascript
  $(document).ready(function(){
    LocationManager.start.lat = #{@event.attendances.first.starting_location.latitude};
    LocationManager.start.lng = #{@event.attendances.first.starting_location.longitude};
    LocationManager.end.lat = #{@event.location.latitude};
    LocationManager.end.lng = #{@event.location.longitude};
    LocationManager.transport_mode = "#{@event.attendances.where(attendee_id: current_user.id).first.try(:transport_mode)}";
    LocationManager.calcRoute();
  });

#trip_length


= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
