= form_for(@attendance, url: event_attendance_path(@event, @attendance)) do |f|
  - if @attendance.errors.any?
    #error_explanation
      %h2 #{pluralize(@attendance.errors.count, "error")} prohibited this attendance from being saved:
      %ul
        - @attendance.errors.full_messages.each do |msg|
          %li= msg

  .field        
    = f.select :transport_mode, {       |
      "Driving"            => "DRIVING",    |
      "Walking"            => "WALKING",    |
      "Bike"               => "BICYCLING",  |
      "Public Transport"   => "TRANSIT"},   |
      selected: "Public Transport"          |

  .field
    = f.collection_select(:starting_location_id, current_user.locations, :id, :location_label, {prompt: "Leaving from?", selected: ""}, id: "startingLocation")

  = f.hidden_field(:trip_duration, id: "trip_duration") 

  .actions
    = f.submit 'Save', disabled: true, id: "submit"

:javascript
  $(document).ready(function(){
    $("#startingLocation").change(function() {
      var id = this.value; 
      var loc = $.grep(LocationManager.locations, function(l) { 
        return l.id == id;
      })[0];
      LocationManager.start.lat = loc.lat;
      LocationManager.start.lng = loc.long;
      LocationManager.calcRoute();
    });
    LocationManager.locations = #{current_user.json_locations};
    LocationManager.start.lat = #{@event.attendances.first.starting_location.latitude};
    LocationManager.start.lng = #{@event.attendances.first.starting_location.longitude};
    LocationManager.event.lat = #{@event.location.latitude};
    LocationManager.event.lng = #{@event.location.longitude};
    LocationManager.transport_mode = "#{@event.attendances.where(attendee_id: current_user.id).first.try(:transport_mode)}";
    LocationManager.calcRoute();
  });